svg.dropicon {
  border: 1px solo;
  text-align: left;
  border: 1px solid;
  width: 30px;
  height: 30px;
  font-weight: 200;
  color: #2878eb;
  border: navajowhite;
  /* color: #2878EB; */
  margin-right: 15px;
  background: rgba(255, 255, 255, 0.1);
  /* color: #ffffff!important; */
  /* padding-right: 15px; */
}
svg.dropicon2 {
  size: 25;
}
button.Drop {
  /* font-family: "Manrope",Sans-serif; */
  /* font-size: 16px; */
  font-weight: 500;
  /* line-height: 23px; */
  color: #120f2d;
  border: navajowhite;
  background-color: #02010100;
  /* padding: 20px 20px 20px 20px; */
}
li._node_modules_react_multilevel_dropdown_Item_module__item.dropitems {
  font-family: "Manrope", Sans-serif;
  font-size: 18px;
  margin: auto;
  font-weight: 500;
  line-height: 28px;
  color: #120f2d;
  padding: 15px 25px 15px 25px;
  left: auto;
  justify-content: space-between;
  right: auto;
}
li._node_modules_react_multilevel_dropdown_Item_module__item.dropitems:hover {
  font-family: "Manrope", Sans-serif;
  font-size: 18px;
  margin: auto;
  font-weight: 500;
  line-height: 28px;
  background-color: #4285f4;
  color: #fff;
  padding: 15px 25px 15px 25px;
  left: auto;
  right: auto;
}
._node_modules_react_multilevel_dropdown_Dropdown_module__menu > ul {
  list-style: none;

  margin: auto;
}
._node_modules_react_multilevel_dropdown_Dropdown_module__menu._node_modules_react_multilevel_dropdown_Dropdown_module__menuRight {
  left: 0;
  margin: auto;
  height: fit-content;
  width: fit-content;
}
._node_modules_react_multilevel_dropdown_Dropdown_module__menu._node_modules_react_multilevel_dropdown_Dropdown_module__menuRight
  > ul {
  text-align: center;
  list-style: none;
  margin: auto;
}
li._node_modules_react_multilevel_dropdown_Item_module__item.dropitem {
  position: relative;
  /* font-size: 14px; */
  line-height: 1.4;
  /* padding: 8px 12px; */
  cursor: pointer;
  user-select: none;
  outline: none;
  transition: all 160ms ease-out;
  white-space: nowrap;
  display: flex;
  margin: auto;
  background: #fff;
  color: #54595f;

  align-items: center;
  font-family: "Manrope", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  /* color: #2878EB; */
  width: auto;
  list-style-type: none;
  /* margin: 0; */
  text-align: center;
  padding: 13px 25px 13px 25px;
}

li._node_modules_react_multilevel_dropdown_Item_module__item.dropitem:hover {
  color: #120f2d;
  background-color: none;
  text-decoration: underline;
}
li._node_modules_react_multilevel_dropdown_Item_module__item.dropitems
  ._node_modules_react_multilevel_dropdown_Submenu_module__submenu._node_modules_react_multilevel_dropdown_Submenu_module__submenuRight.\[object.Object\]
  > ul {
  list-style: none;
  padding-left: 0;
  margin: auto;
  width: auto;
  height: auto;
  /* margin-top: 12px; */
  /* margin-bottom: 12px; */
  /* padding: 0px 0px 0 22px; */
}
._node_modules_react_multilevel_dropdown_Dropdown_module__menu._node_modules_react_multilevel_dropdown_Dropdown_module__menuRight
  > ul
  li:hover
  svg.dropicon {
  color: white;
}
._node_modules_react_multilevel_dropdown_Submenu_module__submenu._node_modules_react_multilevel_dropdown_Submenu_module__submenuRight.dropsubmenuu.\[object.Object\] {
  margin: 5px 0 0 0;
}
