.MuiBox-root.MuiBox-root-88.CategoryPageBOX {
  padding: 15px;
}
p.MuiTypography-root.CategoryPageTypography.MuiTypography-body1 {
  font-size: initial;
  font-family: initial;
  font-weight: initial;
  line-height: initial;
  letter-spacing: initial;
}
.CategoryPageTabPannel {
  width: 100%;
}
