.CategoryPageComponent span {
  margin: 0 5px 0 0;
}
.CategoryPageComponentCardTitle.card-title.h5 {
  padding: 0;
  margin: auto;
}
p.CategoryPageComponentCardText1.card-text {
  font-weight: 300;
  padding: 0;
  margin: 1px 0 1px 0;
  font-size: 15px;
}
.CategoryPageComponentRow.row .col {
  margin-bottom: 20px;
  padding: 0;
}
.CategoryPageComponent {
  padding: 15px;
  background-color: #f8f8f8;
}
h3.CategoryPageComponentSubHeading {
  padding: 10px;
}
.CategoryPageComponentCard.shadow.card {
  width: 14rem;
  margin: auto;
}
