.lfotter {
  margin: auto;
  background: #120f2d;
  position: relative;
  padding: 15px;
}
h2.lfekit-heading--title.elementskit-section-title {
  color: #fff;
  margin: 0 0 0 0;
  font-size: 20px;
  font-weight: 700;
}
span.lfekit_page_list_title_title {
  color: #fff;
}
.lfnav.nav-item {
  margin-right: 6%;
  margin-left: 14%;
}
h2.lfekit-heading--title.elementskit-section-title {
  color: #fff;
  padding: 0 0 10px 0;
  font-size: 20px;
  font-weight: 700;
}
p.lfpsa {
  color: #b8b7c0;
}
li.box-body {
  display: -webkit-inline-box;

  justify-content: space-between;
}
ul.lfboxx {
  padding: 0;
  text-align: left;
  width: auto;
  list-style: none;
  margin: auto;
  vertical-align: middle;
  display: grid;
}
ul.ekit_social_media {
  text-align: center;
  margin-top: 1rem;
  list-style: none;
  justify-self: center;
  display: inline-flex;
}
.lfekit-heading.elementskit-section-title-wraper.text_left.ekit_heading_tablet-.ekit_heading_mobile- {
  margin: auto;
}
.lfmrginsda {
  margin: 20px 0 3px 0px;
}
.lfborderded {
  /* text-align: center; */
  border-right: 1px solid;
}
img.lazyloadesdasdd {
  max-width: 191px;
}

span.eldskit_page_list_title_title {
  /* border-right: 1px solid; */
  color: white;
  /* padding-right: 81px; */
  /* padding-left: 65px; */
}

.ssas {
  /* padding: 0 30px 0 11px !important; */
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: #ffffff26;
}
.lfforbottom.row {
  margin-bottom: 27px;
}

.lfoostyel {
  border-top: 1px solid;
  margin: auto;
}
.ldfsd.row {
  margin: 15px 0 0 0;
}

.footercollast.col-sm-8 {
  margin: auto;
}
.courselog-widget-logo {
  text-align: center;
}
.lfstyel .flex-column.nav > a {
  padding: 0.5rem 0rem;
}
.elementskit-infobox.text-.text-left.icon-lef-right-aligin.elementor-animation-.media {
  display: grid;
  margin: auto;
}
svg.fticonpadding {
  margin-right: 12px;
}
li.elementor-repeater-item-e9af37a {
  margin-right: 15px;
}
.lfborderded.bb.col-sm-5 {
  border: none;
  text-align: center;
}
.lfmrginsda {
  margin: auto;
  padding: 40px 0 7px 0px;
}
