.ProductPageBanner a {
  color: #cec0fc;
  font-weight: 500;
}

.ProductPageBannerHeading {
  margin-top: 15px;
  margin-bottom: 10px;
}
.ProductPageBannerSubHeading {
  padding: 0;
  margin: 12px 0 12px 0px;
}
.ProductPageBannercontent1 {
  margin: 10px 0 10px 0;
}
.ProductPageBannercontent1 span {
  margin-right: 6px;
}
.ProductPageBannercontent2 span {
  margin-right: 6px;
}
.ProductPageBannercontent3 span {
  margin-right: 6px;
}
.ProductPageBannercontent2 {
  margin: 0px 0 10px 0;
}
.ProductPageBanner svg {
  vertical-align: middle;
}
