.carddd {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  /* max-width: 296px; */
  margin: auto;
  text-align: center;
  font-family: arial;
  height: auto;
  width: 269px;
  box-shadow: 2px 2px 1px grey;
  /* height: 187px; */
}
.price {
  color: grey;
  font-size: 22px;
}

.mdrowsection.row {
  position: absolute;
  border: none;
  outline: 0;
  /* padding: 12px; */
  font-weight: 500;
  color: white;
  background-color: black;
  /* text-align: center; */
  cursor: pointer;
  /* width: 100%; */
  width: 256px;
  font-size: 18px;
  opacity: 0.7;
  margin: -28px 0px 0px 0px;
}

.carddd img {
  width: 269px;
  height: 187px;
}
.mdrowsectioncol2.col-sm-4 > button {
  float: right;

  border: none;
  background-color: black;
  margin-right: -13px;
  opacity: 1;
}
.mdrowsectioncol1.col-sm-8 {
  text-align: left;
  margin: auto;
  align-self: center;
}
.mdrowsectioncol2.col-sm-4 {
  display: block;
  padding: 0;
}
